<h1> Sharks </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Gender</th>
    <th>Danger Level</th>
  </tr>
 
  <% @sharks.each do |shark| %>
    <tr>
      <td><%= shark.name %></td>
      <td><%= shark.size %></td>
      <td><%= shark.gender %></td>
      <td><%= shark.danger_level %></td>
      <td><%= link_to 'Show', shark_path(shark) %></td>
    </tr>
  <% end %>
</table>
