<p>
  <strong>Name:</strong>
  <%= @shark.name %>
</p>
 
<p>
  <strong>Size:</strong>
  <%= @shark.size %>
</p>
 
<p>
  <strong>Gender:</strong>
  <%= @shark.gender %>
</p>

<p>
  <strong>Danger Level:</strong>
  <%= @shark.danger_level %>
</p>
|
<%= link_to 'Back', sharks_path %>