<h1>See All Animals</h1>
<h2><%= link_to 'new' ,new_animal_path %></h2> <br>
<% @animals.each do |animal| %>
	<h2> Name: <%= animal.name %> (<%= animal.species %>)  </h2>
	<h3>	<%= animal.species %></h3>
	<%= link_to "show" , animal_path(animal) %>
	<%= link_to "edit" , edit_animal_path(animal) %>
	
<% end %>