<h1> <%= @animal.name %> Page </h1>

<h2> <%= @animal.species %> </h2>
<h2>  Ths animal is an <%= @animal.diet %> </h2>

<h2> Color: <%= @animal.color %> </h2>
<h2> Region: <%= @animal.region %> </h2>
<h2> Weighs: <%= @animal.size %> </h2>
<h2> Age: <%= @animal.age %> </h2>


<a href="/animals"> Animal List </a>