<h1>Listing Rusks </h1>
<%= link_to 'New Rusk', new_rusk_path %>

<table>
	<tr>
		<th>Base</th>
		<th>Extras</th>
		<th>Dippable</th>
		<th>Crunch Factor</th>
	</tr>

	<% @rusks.each do |rusk| %>
		<tr> 
			<td><%= rusk.base %></td>
			<td><%= rusk.extras %></td>
			<td><%= rusk.dippable.to_s %></td>
			<td><%= rusk.crunch_factor %></td>
			<td><%= link_to 'Show', rusk_path(rusk) %></td>
			<td><%= link_to 'Edit', edit_rusk_path(rusk) %></td>
			
			 <td><%= link_to 'Destroy', rusk_path(rusk),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>