<body>
<div class="container">
	<div class="intro">
	<h1 class="horoscope"><%= @horoscope.capitalize %></h1>
	<h4 class="description">Your sexy description:</h4>
	<% @horoscopes_list.each do |horoscope|%>
		<% if horoscope[:name] == @horoscope %>
			<p><%= horoscope[:description] %></p>
			<p>Song to get it on: <em><%= horoscope[:song] %></em></p>
			<p>Designated hookup location: <a href="/<%= @horoscope %>/location"><%= horoscope[:location] %></a></p>
		<% end %>
	<% end %>
	<div class="back">
	<a href="/">Back to Home</a>
	</div>
	</div>


</div>
</body>
